<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>

<form class="form-horizontal" ng-app="RDash" ng-controller="AlertsCtrl">
	<fieldset>

		<!-- Form Name -->
		<legend align="center">Formular 230 - privind destinatia sumei reprezentand pana la 2% din impozitul anual</legend>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="nume">Nume</label>
			<div class="col-md-3">
				<input id="nume" ng-model="model.nume" name="nume" type="text" placeholder="" class="form-control input-md" required="">
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="init_tata">Initiala Tatalui</label>
			<div class="col-md-1">
				<input id="init_tata" ng-model="model.initialaTata" name="init_tata" type="text" maxlength="5" placeholder="" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="prenume">Prenume</label>
			<div class="col-md-3">
				<input id="prenume" ng-model="model.prenume" name="prenume" type="text" placeholder="" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="cnp">CNP</label>
			<div class="col-md-3">
				<input id="cnp" ng-model="model.cnp" name="cnp" type="number" placeholder="" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Textarea -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="adresa">Adresa</label>
			<div class="col-md-4">
				<textarea class="form-control" id="adresa" ng-model="model.adresa" name="adresa"></textarea>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="judet">Judet</label>
			<div class="col-md-3">
				<input id="judet" ng-model="model.judet" name="judet" type="text" placeholder="" class="form-control input-md" required="">
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="localitate">Localitate</label>
			<div class="col-md-3">
				<input id="localitate" ng-model="model.localitate" name="localitate" type="text" placeholder="" class="form-control input-md">
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="telefon">Telefon</label>
			<div class="col-md-3">
				<input id="telefon" ng-model="model.telefon" name="telefon" type="number" placeholder="" maxlength="24" class="form-control">
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="email">Email</label>
			<div class="col-md-3">
				<input id="email" ng-model="model.email" name="text" type="text" placeholder="" class="form-control">
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="cod_postal">Cod Postal</label>
			<div class="col-md-2">
				<input id="cod_postal" ng-model="model.cod_postal" name="cod_postal" type="number" placeholder="" class="form-control input-md">
			</div>
		</div>

		<!-- Multiple Radios -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="radio">Natura venit</label>
			<div class="col-md-3">
				<div class="radio">
					<label for="radios-0">
						<input type="radio" ng-model="model.tip_venit" name="radios" id="radios-0" value="0" checked="checked">
						Venituri din salarii
					</label>
				</div>
				<div class="radio">
					<label for="radios-1">
						<input type="radio" ng-model="model.tip_venit" name="radios" id="radios-1" value="1">
						Venituri din pensii
					</label>
				</div>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="beneficiar">Denumire beneficiar</label>
			<div class="col-md-4">
				<input id="beneficiar" ng-model="model.beneficiar" name="beneficiar" type="text" placeholder="" class="form-control input-md" required="">
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="cod_identificare">Cod de identificare fiscala</label>
			<div class="col-md-2">
				<input id="cod_identificare" ng-model="model.cod_identificare" name="cod_identificare" type="number" placeholder="" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="cont">Cont Bancar</label>
			<div class="col-md-4">
				<input id="cont" ng-model="model.cont" name="cont" type="text" placeholder="" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="brut">Venit brut lunar (RON)</label>
			<div class="col-md-2">
				<input id="brut" ng-model="model.brut" ng-change="calculSumaDonatie()" name="brut" type="number" placeholder="" class="form-control input-md">
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="sumaTotala">Valoare donatie/an (RON)</label>
			<div class="col-md-2">
				<text id="sumaTotala" name="sumaTotala" type="number" placeholder="" class="form-control">{{model.sumaTotala}}</text>

			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="plateste">Efectueaza plata</label>
			<div class="col-md-4">
				<button id="plateste" name="plateste" class="btn btn-primary" ng-click="submit()">Button</button>
			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="ordin">Descarca ordin de plata</label>
			<div class="col-md-4">
				<button id="ordin" name="ordin" class="btn btn-primary">Button</button>
			</div>
		</div>

		<div class="row alerts-container" data-ng-show="warningList.length">
			<h4 color="red">Avertizari:</h4>
			<div class="col-xs-5" align="center">
				<uib-alert color="red" data-ng-repeat="warning in warningList" type="danger">{{warning}}</uib-alert>
			</div>
		</div>

	</fieldset>
</form>

